{% extends 'base.html' %}
{% block content %}
<section>
  <div>
    {% if posts %}
    <div {% for post in posts %} >
        <div class="md:w-1/3 p-4">
          <img src="{{ post.thumbnail.url }}" class="h-40 w-full object-cover rounded mb-3">
          <h2 >{{ post.title }}</h2>
          <p>{{ post.overview|truncatewords:15 }}</p>
          <a href="{% url 'post_detail' post.slug %}">Read more →</a>
        </div>
      </div>
    {% endfor %}
    </div>
    {% else %}
      <p>Hələ favourite postun yoxdur...</p>
    {% endif %}
  </div>
</section>
{% endblock content %}